@import "nullstyle.scss";
$task_width: 700px;
$task-height: 50px;
$task-height-low-res: 100px;
body {
  background-image: url(/source/img/background.jpg);
}
.input_list_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-flow: 0;
  width: max-content;
  height: max-content;
  top: 330px;
  left: 31%;
  #input {
    height: $task-height;
    width: $task_width;
    border: solid 1px darkmagenta;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
  }
  #mark-all {
    display: none;
  }
  #label-mark-all::before {
    z-index: 10;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    color: black;
    content: "❯";
    font-size: 22px;
    transform: rotate(90deg);
    top: 20px;
    left: 5px;
    opacity: 0.5;
  }
  #mark-all:checked + #label-mark-all::before {
    opacity: 1;
  }
  .task_list_footer_wrapper {
    display: none;
    height: max-content;
    width: $task_width;
    background-color: darkturquoise;
    border: solid 1px darkmagenta;
    border-radius: 10px;
    .task-list {
      .taskname {
        font-family: "Courier New", Courier, monospace;
      }
      position: relative;
      display: flex;
      flex-direction: column;
      height: max-content;
      width: $task_width;
      div.completed {
        opacity: 0.8;
        div.taskname {
          text-decoration: line-through;
        }
      }

      .task-list-task {
        position: relative;
        width: $task_width;
        z-index: 1;
        display: inline-flex;
        height: $task-height;
        background-color: aliceblue;
        border: solid 1px darkmagenta;
        border-radius: 10px;

        line-height: 50px;

        div {
          position: absolute;
          left: 29px;
          font-size: 25px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
        }
        .checkbox {
          position: relative;
          vertical-align: middle;
          .checkbox_input {
            position: absolute;
            -webkit-appearance: none;
            appearance: none;
          }
          .checkbox_input:checked + .checkbox_label {
            background-color: black;
          }
          .checkbox_label {
            display: block;
            position: absolute;
            cursor: pointer;
            height: 20px;
            width: 20px;
            border: solid gray 2px;
            border-radius: 50%;

            top: 15px;
            left: -24px;
          }
        }

        .close {
          position: absolute;
          top: 9px;
          right: 7px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          border: 4px solid #e62f57;
          border-radius: 50%;
          opacity: 0.5;
        }

        .close:before {
          position: relative;
          top: -5px;
          left: 0px;
          width: 26px;
          height: 4px;

          font-size: 25px;
          background: rgba(0, 0, 0, 0);
          content: "×";
        }
        .close:hover {
          background-color: yellow;
          border: 4px solid darkblue;
          color: black;
          opacity: 1;
        }
      }
    }
    #footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      .but-wrapper {
        position: relative;
        left: 150px;
        .buttons {
          padding: 5px;

          cursor: pointer;
          display: inline-flex;
          justify-content: center;
          height: 27px;
          margin: 10px 20px;
          color: floralwhite;
          background-color: rgb(161, 223, 46);
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: x-large;
          border: solid 1px black;

          border-radius: 5px;
          .btn-name {
            top: -5px;
            position: relative;
            text-shadow: 1px 1px black;
          }
        }
      }

      .counter {
        position: relative;
        right: 75%;
        top: 13px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: x-large;
      }
    }
  }
}

@media (max-width: 1170px) {
  .input_list_wrapper {
    top: 35%;
    left: 24%;
  }
}
@media (max-width: 970px) {
  .input_list_wrapper {
    left: 15%;
  }
}
@media (max-width: 750px) {
  .input_list_wrapper {
    left: 1%;
    top: 2%;
    .task_list_footer_wrapper {
      .task-list {
        .task-list-task {
          height: $task-height-low-res;
          .close {
            top: 20px;
            width: 60px;
            height: 60px;
          }
          .checkbox {
            .checkbox_label {
              top: 29px;
              width: 40px;
              height: 40px;
            }
          }
          .taskname {
            font-size: 60px;
            left: 50px;
            top: 20px;
          }
        }
      }
    }

    #input {
      height: $task-height-low-res;
      font-size: 60px;
    }
  }
}
